{{> head }}


{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1> H1 test</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/kindle.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer}}